---
import { defaultLang } from '../i18n/ui';
---

<!doctype html lang={defaultLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>nispot.dev</title>
    <script is:inline>
      const storedLang = localStorage.getItem('preferred-lang');
      const browserLang = navigator.language || navigator.languages[0];
      const lang = storedLang || (browserLang.startsWith('es') ? 'es' : 'en');
      
      window.location.href = '/' + lang + '/';
    </script>
  </head>
  <body>
  </body>
</html>
