---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import downloadIcon from '../components/ui/download.svg';
import Button from './ui/Button.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id='about'
  class='w-full mx-auto max-w-screen-xl grid grid-cols-[100%] md:grid-cols-[65%_35%] lg:grid-cols-[60%_40%] mt-5 mb-5 px-4 sm:px-6 md:px-8 lg:px-10'
>
  <div class='md:w-[90%] lg:w-[80%] xl:w-[70%]'>
    <h2 class='text-3xl font-bold mb-4'>{t('bio.title')}</h2>
    <p class='text-black font-medium text-left mb-5'>{t('bio.greeting')}</p>
    <p class='text-black font-medium text-left mb-5'>
      {t('bio.paragraph1')}
    </p>
    <p class='text-black font-medium text-left mb-5'>
      {t('bio.paragraph2')}
    </p>
    <p class='text-black font-medium text-left mb-5'>
      {t('bio.paragraph3')}
    </p>
    <p class='text-black font-medium text-left mb-5'>{t('bio.paragraph4')}</p>

    <Button
      text={t('bio.resume')}
      href='/resume.pdf'
      style='mt-9'
      iconRight={downloadIcon}
    />
  </div>

  <div class='flex justify-end'>
    <img src='/images/retro-pc.svg' alt='hero' width='100%' />
  </div>
</section>
