---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import LogoNispot from './LogoNispot.astro';

export interface Props {
  textColor?: 'white' | 'black';
}

const { textColor = 'black' } = Astro.props;
const textClass = textColor === 'white' ? 'text-white' : 'text-black';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class='bg-gray'>
  <div
    class='w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between'
  >
    <LogoNispot textColor='white' />
    <div class='text-white mt-2 md:mt-0'>
      {t('footer.copyright')}
    </div>
  </div>
</footer>
