---
import LogoNispot from './LogoNispot.astro';
---

<footer class='bg-gray'>
  <div
    class='w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between'
  >
    <LogoNispot textColor='white' />
    <div class='text-white mt-2 md:mt-0'>
      Building dreams, one line of code at a time | CDMX - 2024
    </div>
  </div>
</footer>
