@import '../../../assets/styles/variables';

.info-container {
/*     flex: 4;
    background-color: transparent;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; */
    @media only screen and (max-width: 1170px) {
flex-basis: 1;
      }
}

.testingdata {
    padding-left: 200px;
    @media only screen and (max-width: 1170px) {
        padding-left: 20px;
        text-align: center;
        div {
            width: 100%;
        }
      }
}

.title-caption {
    font-family: $code-font;
    font-weight: 400;
    color: $white;
    font-size: 60px;
    @media only screen and (max-width: 1170px) {
        margin-top: 20px;
        font-size: 20px;
      }
}

.text {
    font-family: $code-font;
    font-weight: 600;
    color: $gray;
    font-size: 20px;
    @media only screen and (max-width: 1170px) {
        font-size: 16px;
    }
}